*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
   
}

/* banner section style */
header{
    width: 100%;
    height: 100vh;
        
}
.banner{
    background-image: url("/images/donation7.jpg");
}

.banner-title{
    margin-left: 40px;
    padding: 350px;
    justify-items: center;

}
h1{
    color: white;

}
.banner-description{
    color: white;
}
.btn-primary{
   padding: 10px;
   background-color: #FF5959;
   border: none;
   border-radius: 5%;
   margin: 10px;
   margin-top: 30px;
  margin-left: 45%;
}
.banner-description{
    margin-top: 20px;
}

/* main section style */

.donate-today{
    text-align: center;
    margin-top: 130px;
}
.donate-title{
    margin-bottom: 30px;
    font-weight: 700;
    size: 45px;
    line-height: 54.46px;
   

}
.donate-description{
    color: #707070;
    font-weight: 400;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   size: 18px;
   line-height: 28px;
  margin-bottom: 100px;

}
button{
    color:  #707070;
    padding: 28px 40px;
    margin: 8px;
    border: 1px solid blue;
    border-radius: 5px;
   
}
.tk-btn{
    background-color:  #FFEEEE;
    color:  #FF5959;
    border: 1px solid #FF5959;
   
}
button:hover{
    color: #ae1212;
}

